$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower



/* Space out content a bit */
body {
  background: url('../images/bg.gif');
  //background: url('../images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  background: url('../images/black-pattern.png') repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

h1, h2, h3 ,h4 p {
  color: white;
  font-family: sans-serif;
}

h1 {
  line-height: 1em;
  font-weight: 700;
  font-size: 6.213em;
  letter-spacing: 1px;
}

p {
  font-family: "source-code-pro", "Lucida Sans Typewriter", "Lucida Console", monaco, "Courier New", Courier, monospace;
  color: white;
}

main {
   display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

main .row {
  display: inline-block;
  background: black;
  padding: 2rem;
}

#Nav-menu:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 200%;
    height: 200%;
    content: '';
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border: none;
    outline: none;
    background-image: -webkit-linear-gradient(bottom, #76FF03 50%, #B2FF59 100%);
    background-image: linear-gradient(0deg, #76FF03 50%, #B2FF59 100%);
    box-shadow: none;
}

#Nav-menu .fa {color:black;}

#Nav-menu {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    padding: 0rem 0 4rem 4rem;
    cursor: pointer;
    font-family: "source-code-pro", "Lucida Sans Typewriter", "Lucida Console", monaco, "Courier New", Courier, monospace;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #070707 !important;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
}

#Nav-menu img {
  height: 25px;
  width: auto;
}

main {
  height: 100%;
  width: 100%;
}

.social {
  padding-left: 0;
}
.social li {
  display: inline-block;
  color: white;
  font-size: 1.618em;
  padding-right: 1rem;
}
.social li a {
  color: white;
}

.social li a:hover {
  opacity:0.8;
}

@media screen and (min-width: 768px) {
  #gradient {
  width: 500px;
  height: 500px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 0 auto 40px;
  }
  h1, h2, h3, h4, .fa, a, p {
    color: black;
  }
  #gradient h1 {
    font-size: 4.123em;
  }
  #gradient h2 {
    font-size: 1.618em;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center; 
  }
}

@media screen and (max-width:768px) {
  main.row {
      margin-right: 0;
      margin-left: 0;
  }

  #Nav-menu {
    right: 1rem;
  }
}

@media screen and (max-width: 40em) {
  main {
    background: rgba(0,0,0,0.65);
  }
  h1 {
    font-size: 4.213em;
  }
  h2 {
    font-size: 1.618em;
  }

  main .row {
  background: transparent;
  }

  #Nav-menu {
    right: 1rem;
  }
}

