$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower



/* Space out content a bit */
body {
  background: url('../images/bg.gif');
  //background: url('../images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

h1, h2, h3 ,h4, p, a {
  color: white;
  font-family: sans-serif;
}

a:hover {
  color: inherit;
}

h1 {
  line-height: 1em;
  font-weight: 700;
  font-size: 6.213em;
  letter-spacing: 1px;
}

p {
  font-family: "source-code-pro", "Lucida Sans Typewriter", "Lucida Console", monaco, "Courier New", Courier, monospace;
  color: white;
}

main {
   display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  a {
    transition: 0.15s ease-in;
    &:hover {
      border-bottom: 2px solid black;
      text-decoration: none;
    }
  }

}

main .row {
  display: inline-block;
  background: black;
  padding: 2rem;
}

.Nav-menu:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 200%;
    height: 200%;
    content: '';
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border: none;
    outline: none;
    box-shadow: none;

    background: linear-gradient(270deg, #b2ff59, #76ff03, #eeff41, #ccff90, #f4ff81, #c6ff00);
    background-size: 1200% 1200%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

}

.Nav-menu .fa {color:black;}

.Nav-menu {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    padding: 0rem 0 4rem 4rem;
    cursor: pointer;
    font-family: "source-code-pro", "Lucida Sans Typewriter", "Lucida Console", monaco, "Courier New", Courier, monospace;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #070707 !important;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
}

.Nav-menu img {
  height: 25px;
  width: auto;
}

main {
  height: 100%;
  width: 100%;

}

.social {
  padding-left: 0;
}
.social li {
  display: inline-block;
  color: white;
  font-size: 1.618em;
  padding-right: 1rem;
}
.social li a {
  color: white;
  transition: 0.15s ease-in;
}

.social li a:hover {
  border-bottom: 2px solid black;
}

table {
  text-align: center;
  margin: 1rem auto;
}

td {
  padding: 0 10px;
}

.small {
  font-size: 0.75em;
}

#mobile-content {
  display: none;
  background:transparent;
  height: 100%;
}

.mobile {
  display: none;
}


@media screen and (min-width: 768px) {
  #gradient {
  width: 500px;
  height: 500px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 0 auto 40px;
    background: linear-gradient(270deg, #b2ff59, #76ff03, #eeff41, #ccff90, #f4ff81, #c6ff00);
    background-size: 1200% 1200%;

    -webkit-animation: AnimationName 350s ease infinite;
    -moz-animation: AnimationName 50s ease infinite;
    animation: AnimationName 50s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

  }
  h1, h2, h3, h4, .fa, a, p {
    color: black;
  }
  #gradient h1 {
    font-size: 4.123em;
  }
  #gradient h2 {
    font-size: 1.618em;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center; 
  }
}

@media screen and (max-width:768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }

  #gradient {
    display: none;
  }
  #mobile-content {
    display: block;
  }
  main.row {
      margin-right: 0;
      margin-left: 0;
      background: transparent !important;
      a:hover {
            border-bottom: 2px solid white;
      }
  }



  .social li a:hover {
    border-bottom: 2px solid white;
  }
}

@media screen and (max-width: 40em) {
  body {
     background: url('../images/bg-mobile.gif');
  }
  main {
    background: rgba(0,0,0,0.65);
  }
  h1 {
    font-size: 4.213em;
  }
  h2 {
    font-size: 1.618em;
  }

  main .row {
  background: transparent;
  }

}

